/* Example only — update filenames to match your licensed webfont exports. */
/*
@font-face {
  font-family: 'Silverstone Display';
  src: url('/fonts/SilverstoneDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Silverstone Text';
  src: url('/fonts/SilverstoneText-Book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*/
